*:focus{
    outline: 0;
}

body {
    zoom: 84%;
}

.inline {
    display: inline-block;
}
.vertical-center{
    vertical-align: middle;
}

.prem-1 {
    padding-right: 1em;
}

.prem-2 {
    padding-right: 2em;
}

.prem-3 {
    padding-right: 3em;
}

.prem-4 {
    padding-right: 4em;
}

.prem-5 {
    padding-right: 5em;
}

.plem-1 {
    padding-left: 1em;
}

.plem-2 {
    padding-left: 2em;
}

.plem-3 {
    padding-left: 3em;
}

.plem-4 {
    padding-left: 4em;
}

.plem-5 {
    padding-left: 5em;
}

.ptem-1 {
    padding-top: 1em;
}

.ptem-2 {
    padding-top: 2em;
}

.ptem-3 {
    padding-top: 3em;
}

.ptem-4 {
    padding-top: 4em;
}

.ptem-5 {
    padding-top: 5em;
}

.mtem-1 {
    margin-top: 1em;
}

.mtem-2 {
    margin-top: 2em;
}

.mtem-3 {
    margin-top: 3em;
}

.mtem-4 {
    margin-top: 4em;
}

.mtem-5 {
    margin-top: 5em;
}

.mbem-1 {
    margin-bottom: 1em;
}

.mbem-2 {
    margin-bottom: 2em;
}

.mbem-3 {
    margin-bottom: 3em;
}

.mbem-4 {
    margin-bottom: 4em;
}

.mbem-5 {
    margin-bottom: 5em;
}

.mbem-6 {
    margin-bottom: 6em;
}

.mbem-7 {
    margin-bottom: 7em;
}

.mbem-8 {
    margin-bottom: 8em;
}

.mbem-9 {
    margin-bottom: 9em;
}

.mbem-10 {
    margin-bottom: 10em;
}

.gray {
    color: gray;
}

.wrong-msg {
    color: red;
    font-size: small;
}

.border-gray-1 {
    border: 1px solid rgb(187, 187, 187);
}

.hover-dark-gray:hover {
    color: rgb(95, 95, 95);
}

.font-sm {
    font-size: small;
}

.align-right {
    text-align: right;
}

.bg-light-gray {
    background-color: rgb(245, 245, 245);
}

.dark-gray {
    color: rgb(95, 95, 95);
}

.float-right {
    float: right;
}

.hidden {
    display: none;
}

.pagenum-select {
    background-color: rgb(240, 240, 240);
}

