a {
    color: rgb(105, 105, 105);
}
a:hover {
    color: rgb(41, 41, 41);
    text-decoration: none;
}

.left-bar {
    margin: 0;
    padding: 0;
}

.left-bar-title {
    font-size: large;
    cursor: pointer;
}

.main-content {
    margin: 0;
}

.menu {
    font-size: large;
    font-weight: 700;
}
.option-select {
    background-color: rgb(255, 136, 51);
    color: white;
    /* 形状 */
}

.option-menu {
    height: 40px;
}
/* 悬浮背景 */
.option-menu:hover {
    transition: 0.3s linear;
    background-color: rgb(255, 136, 51);
}
/* 子节点的字体白色 */
.option-menu:hover > p{
    transition: 0.5s linear;
    color: white;
}

.option-text {
    cursor: pointer;
    padding-top: 8px;
}

.fa-user {
    padding-left: 0.1em;
    padding-right: 1.3em;
}

.fa-gear {
    padding-right: 1.3em;
}
.announce {
    height: 9em;
}

.right-title {
    font-size: x-large;
    font-weight: 300;
}

.emphasize-font {
    font-size: large;
    color: rgb(255, 136, 51);
}

.emphasize-font:hover {
    cursor: pointer;
}

th {
    background-color: rgb(250, 250, 250);
}

tr:hover {
    transition: 0.3 linear;
    background-color: rgb(250, 250, 250);
}

.minbox {
    border-top: 1px solid rgb(211, 211, 211);
    border-left: 1px solid rgb(211, 211, 211);
    border-right: 1px solid rgb(211, 211, 211);
    max-width: 9%;
    max-height: 8em;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.float-btn {
    /* background-color: rgb(255, 136, 51); */
    transition: 0.3s linear;
    background-color: white;
    width: 4em;
    height: 4em;
    z-index: 9999;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 4em;
}

.upload-pic{
    border: 4px solid #ff6028;
}

.download-pic{
    border: 4px solid #ff6028;
}

.float-btn:hover {
    transition: 0.3s linear;
    border: 0;
    background-color: gray;
    cursor: pointer;
}


.btn-pagenum {
    border: 1px solid rgb(238, 238, 238);
    padding: .375rem .75rem;
    outline: none;
    color: gray;
}

.btn-pagenum:hover {
    transition: 0.2s linear;
    border: 0;
    color: rgb(87, 87, 87);
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.btn-pagenum:focus {
    outline: 0;
}

.label-float {
    transition: 0.5s linear;
    background-color: #ff6028;
    width: 6em;
    text-align: center;
    height: 3em;
    z-index: 9999;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 10em;
    padding-top: 1em;
    color: white;
    border-radius: 10px;
}

/* 导入文件模态框 */
.model-card {
    transition: 0.5s linear;
    background: white;
    opacity: 0.95;
    max-width: 20%;
    color: rgb(87, 87, 87);
    margin-left: 40%;
    margin-top: 13%;
    text-align: center;
    z-index: 200;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.model-card-modify {
    transition: 0.5s linear;
    background: white;
    opacity: 0.95;
    max-width: 20%;
    color: rgb(87, 87, 87);
    margin-left: 40%;
    margin-top: 10%;
    text-align: center;
    z-index: 200;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}

.model-card-container {
    margin: 20px;
    padding: 20px;
}

.upload-img:hover {
    cursor: pointer;
}

.menu-group {
    height: 4rem;
    width: 80rem;
    float: right;
    /* border: 1px solid lightgray; */
    /* background-color: rgb(248, 248, 248); */
}


/** steve 按钮 */
.btn-steve {
    margin-top: 0.3em;
    border: 1px solid darkgray;
    transition: 0.4s;
    border-radius: 2.5em;
    float: right;
    font-size: large;
    width: 7em;
    height: 2.5em;
    margin-right: 1em;
    outline: none;
    color: gray;
    background-color: white;
}
.btn-steve:focus {
    outline: 0;
}
.btn-steve:hover {
    color: white;
    background-color: rgb(255, 136, 51);
}

/** steve 输入框 */
.btn-steve-text {
    border: 1px solid darkgray;
    border-radius: 2em;
    float: right;
    font-size: large;
    /*font-weight: 350;*/
    color: darkgray;
    /*background-color: black;*/
    width: 10em;
    height: 2.3em;
    margin-right: 2em;
    margin-top: 0.48em;
    padding-left: 1.2em;
}

.radio-margin {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.select-steve {
    float: right;
    width: 10em;
    margin-right: 8em;
    margin-top: 0.55em;
    padding-left: 1em;
}

.steve-sm-btn {
    width: 5em;
    height: 2em;
    background-color: white;
    border-radius: 0.85em;
    border: 1px darkgray solid;
    color: gray;
}

.steve-sm-btn:hover {
    color: white;
    background-color: rgb(255, 136, 51);
}

.steve-sm-btn:focus {
    outline: none;
}

.select-steve {
    border-radius: 0.7em;
    border: 1px solid darkgray;
    width: 9em;
    height: 2.5em;
    float: right;
    color: gray;
    margin-right: 2em;
    display: block;
}

.option-menu {
    display: block;
}

@media screen and (max-width:1300px){
    .select-steve {
        display: none;
    }
    .btn-steve {
        display: none;
    }
    .btn-steve-text {
        display: none;
    }
    .minbox {
        font-size: larger;
        padding-bottom: 2em;
        max-width: 100%;
    }
}

@media screen and (max-width:800px) {
    .option-menu {
        display: none;
    }
}




